{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modasyar</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="nav">
      <div class="logo">
          <a href="{% url 'dashboardlogged' %}">  
              <img src="{% static 'images/logo.png' %}" alt="logo">
              <p>Moda<span style="color:#436850;">Syar</span></p>
          </a>
      </div>
      <div class="item">
          <a href="{% url 'explorelogged' %}" class="menu">
              Telusuri UMKM
          </a>
          <a href="{% url 'tingkatkanmodal' %}" class="menu">
              Tingkatkan Modal
          </a>
          <a href="{% url 'userdashboard' profile_id=profile.id %} " class="menu">
              Profile
          </a>
      </div>
    </div>

    <div class="aboutus-content">
      <div class="aboutus-desc">
        <p style="font-size: 40px; margin-bottom: 0; font-weight: 500;">Ayo kenali</p>
      <h1 style="margin-top: 0; font-size: 50px; margin-bottom: 0;">Moda<span style="color: #436850;">Syar</span></h1>
      <p style="font-size: 20px; font-weight: 200;"> Platform equity crowdfunding syariah yang dirancang khusus untuk <br> mendukung pertumbuhan dan pengembangan UMKM</p>
      </div>
      <div class="aboutus-part">
        <img src="{% static 'images/aboutus-1.png' %}" alt="aboutus1">
        <div class="aboutus-desc">
          <p style="font-size: 40px; margin-bottom: 0; font-weight: 500;">Keyakinan Kami</p>
        <p style="font-size: 20px; font-weight: 200;"> Kami percaya setiap UMKM layak <br> mendapatkan pendanaan yang adil sesuai <br> prinsip syariah, sementara kami juga <br> berkomitmen pada kolaborasi berkelanjutan <br> untuk menciptakan dampak positif dalam <br> inklusi keuangan dan pertumbuhan ekonomi.</p>
        </div>
      </div>
      <div class="aboutus-part">
        <div class="aboutus-desc">
          <p style="font-size: 40px; margin-bottom: 0; font-weight: 500;">Pelayanan Kami</p>
        <p style="font-size: 20px; font-weight: 200;"> 
          Kami bertekad untuk memperkuat komunitas <br>UMKM dengan menyediakan pendampingan <br>dan dukungan yang komprehensif, serta <br> memastikan transparansi dan integritas <br>dalam setiap interaksi di platform kami.</p>
        </div>
        <img src="{% static 'images/aboutus-2.png' %}" alt="aboutus2">
      </div>
    </div>

    <footer>
        <div class="support">
          <p>Didukung dan Diawasi Oleh :</p>
          <div class="logo">
            <img src="{% static 'images/ojk-logo.png' %}" alt="ojk-logo" />
            <img src="{% static 'images/afsi-logo.png' %}" alt="afsi-logo" />
          </div>
        </div>
        <div class="menu">
          <h3>Pelajari Kami</h3>
          <a href="">About Us</a>
          <a href="#SnK">Syarat & Ketentuan</a>
          <a href="#KebijakanPrivasi">Kebijakan Privasi</a>
        </div>
      </footer>
     
</body>
</html>