<!DOCTYPE html>
{% load static %}
{% load custom_filters%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a href="{% url 'dashboardlogged' %}">  
                <img src="{% static 'images/logo.png' %}" alt="logo">
                <p>Moda<span style="color:#436850;">Syar</span></p>
            </a>
        </div>
        <div class="item">
            <a href="{% url 'explorelogged' %}" class="menu">
                Telusuri UMKM
            </a>
            <a href="{% url 'tingkatkanmodal' %}" class="menu">
                Tingkatkan Modal
            </a>
            <a href="{% url 'userdashboard' profile_id=profile.id %} " class="menu">
                Profile
            </a>
        </div>
    </div>
    <div class="porto-section">
        <h1>Hi, <span id="userName">{{ username }}</span></h1>
        <p>Total keuntungan anda saat ini sebesar 
            <span style="color: #436850; font-family: 'futura';"> Rp {{ profit_all_transactions|currency_format }}</span>
        </p>
        {% for transaction in transactions %}
        <div class="detail-card">
            <div class="card-content">
                <div class="desc-content">
                    <h2 style="color:white;">{{ transaction.umkm__nama_umkm }}</h2>
                    <p>Jenis Industri : <strong>{{ transaction.umkm__industri }}</strong></p>
                </div>
                <div class="profit-class">
                    <div class="profit-desc">
                        <p>Nilai Portofolio</p>
                        <p>Rp {{ transaction.total_investment|currency_format }}</p>
                    </div>
                    <div class="profit-desc">
                        <p>% Bagi Hasil</p>
                        <p>{{ transaction.umkm__proyeksi_imbal_hasil }}</p>
                    </div>
                    <div class="profit-desc">
                        <p>Keuntungan</p>
                        <p>Rp {{ transaction.total_profit|currency_format }}</p> <!-- Ubah disini -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="detail-porto">
        <a href="{% url 'explorelogged' %}">
            Telusuri Mitra UMKM Lainnya
        </a>
    </div>
    <footer>
        <div class="support">
          <p>Didukung dan Diawasi Oleh :</p>
          <div class="logo">
            <img src="{% static 'images/ojk-logo.png' %}" alt="ojk-logo" />
            <img src="{% static 'images/afsi-logo.png' %}" alt="afsi-logo" />
          </div>
        </div>
        <div class="menu">
          <h3>Pelajari Kami</h3>
          <a href="{% url 'aboutUslogged' %}">About Us</a>
          <a href="#SnK">Syarat & Ketentuan</a>
          <a href="#KebijakanPrivasi">Kebijakan Privasi</a>
        </div>
      </footer>
</body>
</html>
