{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modasyar</title>
    <link rel="stylesheet" href="{% static 'css/styled.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a href="{% url 'dashboardlogged' %}">  
                <img src="{% static 'images/logo.png' %}" alt="logo">
                <p>Moda<span style="color:#436850;">Syar</span></p>
            </a>
        </div>
        <div class="item">
            <a href="{% url 'explorelogged' %}" class="menu">
                Telusuri UMKM
            </a>
            <a href="{% url 'tingkatkanmodal' %}" class="menu">
                Tingkatkan Modal
            </a>
            <a href="{% url 'userdashboard' profile_id=profile.id %} " class="menu">
                Profile
            </a>
        </div>
    </div>
    </div>
    <header>
        <h1>Detail Pembayaran</h1>
    </header>
    <main>
        <div id="payment-details">
        </div>
    </main>
    <footer>
        <div class="support">
          <p>Didukung dan Diawasi Oleh :</p>
          <div class="logo">
            <img src="{% static '/images/ojk-logo.png' %}" alt="ojk-logo" />
            <img src="{% static '/images/afsi-logo.png' %}" alt="afsi-logo" />
          </div>
        </div>
        <div class="menu">
          <h3>Pelajari Kami</h3>
          <a href="{% url 'aboutUslogged' %}">About Us</a>
          <a href="#SnK">Syarat & Ketentuan</a>
          <a href="#KebijakanPrivasi">Kebijakan Privasi</a>
        </div>
    </footer>
    <script>
        function getQueryParams() {
            const params = new URLSearchParams(window.location.search);
            return {
                type: params.get('type')
            };
        }

        function displayPaymentDetails() {
            const { type } = getQueryParams();
            const paymentDetailsDiv = document.getElementById('payment-details');

            if (type) {
                let details = '';
                switch(type) {
                    case 'BCA':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/BCA.png' %}" alt="BCA Logo" class="bank-logo">
                                    <h2>Bank BCA</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">1234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>BCA Mobile Banking</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM 
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 1234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;
                    case 'Mandiri':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/Mandiri.png' %}" alt="Mandiri Logo" class="bank-logo">
                                    <h2>Bank Mandiri</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>Mandiri Mobile Banking</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 2234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;
                    case 'BNI':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/BNI.png' %}" alt="BNI Logo" class="bank-logo">
                                    <h2>Bank BNI</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>BNI Mobile banking</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 2234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;
                    case 'BRI':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/BRI.png' %}" alt="BRI Logo" class="bank-logo">
                                    <h2>Bank BRI</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>BRI Mobile banking</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 2234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;
                    case 'Syariah':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/BSI.png' %}" alt="BSI Logo" class="bank-logo">
                                    <h2>Bank BSI</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>BSI Mobile banking</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 2234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;    
                    case 'Permata':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/Permata.png' %}" alt="Permata Logo" class="bank-logo">
                                    <h2>Bank Permata</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>BNI Mobile banking</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 2234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;
                    case 'SeaBank':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/SeaBank.png' %}" alt="BNI Logo" class="bank-logo">
                                    <h2>Bank SeaBank</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>SeaBank Mobile banking</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 2234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;
                    case 'Other':
                        details = `
                            <section class="payment-info">
                                <div class="bank-info">
                                    <img src="{% static 'images/Bank Lainnya' %}"png" alt="BNI Logo" class="bank-logo">
                                    <h2>Bank Lainnya</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Transfer mBanking
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Buka Aplikasi <b>Mobile banking yang ingin digunakan</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('atm')">
                                        Petunjuk Transfer ATM
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="atm">
                                        <ol>
                                            <li>Masukkan Kartu ATM --> Pilih <b>Menu Lain</b> --> Pilih <b>Transfer</b> --> Pilih <b>Virtual Account Billing</b>.</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA 2234xxxxxxxxxxxx dan pilih <b>Benar</b>.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                        `;
                        break;    
                    
                        
                        
                    case 'ShopeePay':
                        details = `
                            <section class="payment-info">
                                <div class="ewallet-info">
                                    <img src="{% static 'images/ShopeePay.png' %}" alt="ShopeePay Logo" class="ewallet-logo">
                                    <h2>ShopeePay</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Top Up
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Masuk ke aplikasi <b>ShopeePay/Shopee</b></li>
                                            <li>Pilih menu Transfer, lalu tap Ke Virtual Account</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                            `;
                            break;
                    case 'Dana':
                        details = `
                            <section class="payment-info">
                                <div class="ewallet-info">
                                    <img src="{% static 'images/Dana.png' %}" alt="Dana Logo" class="ewallet-logo">
                                    <h2>Dana</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Top Up
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Masuk ke aplikasi <b>Dana</b></li>
                                            <li>Pilih menu Transfer, lalu tap Ke Virtual Account</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                            `;
                            break;
                    case 'OVO':
                        details = `
                            <section class="payment-info">
                                <div class="ewallet-info">
                                    <img src="{% static 'images/OVO.png' %}" alt="OVO Logo" class="ewallet-logo">
                                    <h2>OVO</h2>
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Top Up
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Masuk ke aplikasi <b>OVO</b></li>
                                            <li>Pilih menu Transfer, lalu tap Ke Virtual Account</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                            `;
                            break;                    
                    case 'GoPay':
                        details = `
                            <section class="payment-info">
                                <div class="ewallet-info">
                                    <img src="{% static 'images/Gopay.png' %}" alt="Gopay Logo" class="ewallet-logo">
                                    <h2>Gopay</h2>          
                                </div>
                                <div class="account-info">
                                    <p class="label">Nomor Rekening / Nomor Virtual Account / Nomor Billing :</p>
                                    <div class="account-number-section">
                                        <p class="account-number">2234 5678 9101</p>
                                        <button class="copy-btn">Salin</button>
                                    </div>
                                    <p class="verification-info">Proses verifikasi kurang dari 10 menit setelah pembayaran berhasil</p>
                                    <div class="fee-info-section">
                                        <p class="fee-info">Biaya Admin</p>
                                        <p class="fee-amount">Rp1.000</p>
                                    </div>
                                </div>
                            </section>  
                            <section class="instructions">
                                <div class="dropdown">
                                    <button class="dropdown-btn" onclick="toggleDropdown('mbanking')">
                                        Petunjuk Top Up
                                        <span class="arrow">&#9662;</span>
                                    </button>
                                    <div class="dropdown-content" id="mbanking">
                                        <ol>
                                            <li>Masuk ke aplikasi <b>Gopay</b></li>
                                            <li>Pilih menu Transfer, lalu tap Ke Virtual Account</li>
                                            <li>Pilih menu <b>Input Baru</b>, lalu masukkan Nomor VA yang telah disalin.</li>
                                            <li>Masukkan <b>Nominal Top-Up Saldo</b> yang diinginkan. Minimal Top-Up Rp100.000.</li>
                                            <li>Jika saldo belum masuk ke Modasyar, mohon untuk menunggu maksimal 1x24 jam.</li>
                                        </ol>
                                    </div>
                                </div>
                            </section>
                            <a href="{% url 'investporto' %}">
                                <button class="finish-btn">Selesai</button>
                            </a>
                            `;
                            break;     
                    
                    default:
                        details = `<p>Detail pembayaran tidak ditemukan</p>`;
                }

                paymentDetailsDiv.innerHTML = details;
            } else {
                paymentDetailsDiv.innerHTML = '<p>Detail pembayaran tidak ditemukan</p>';
            }
        }

        function toggleDropdown(id) {
            var element = document.getElementById(id);
            element.style.display = element.style.display === 'none' ? 'block' : 'none';
        }

        window.onload = displayPaymentDetails;
    </script>
</body>
</html>
