{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modasyar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
</head>
<div class="nav">
    <div class="logo">
        <a href="{% url 'dashboardlogged' %}">  
            <img src="{% static 'images/logo.png' %}" alt="logo">
            <p>Moda<span style="color:#436850;">Syar</span></p>
        </a>
    </div>
    <div class="item">
        <a href="{% url 'explorelogged' %}" class="menu">
            Telusuri UMKM
        </a>
        <a href="{% url 'tingkatkanmodal' %}" class="menu">
            Tingkatkan Modal
        </a>
        <a href="{% url 'userdashboard' profile_id=profile.id %}" class="menu">
            Profile
        </a>
    </div>
</div>
<body>
    <div class="WDsuccesscontainer">
        <main>
            <h1>Withdraw Berhasil</h1>
            <p>Terima kasih telah menggunakan layanan kami. <br> Penarikan Anda sedang diproses dan akan segera ditransfer ke E-Wallet yang Anda pilih.</p>
            <a href="{% url 'investporto' %}">Kembali ke halaman utama</a>
        </main>
    </div>
</body>
<footer>
    <div class="support">
        <p>Didukung dan Diawasi Oleh :</p>
        <div class="logo">
            <img src="{% static 'images/ojk-logo.png' %}" alt="ojk-logo" />
            <img src="{% static 'images/afsi-logo.png' %}" alt="afsi-logo" /> 
        </div>
    </div>
    <div class="menu">
        <h3>Pelajari Kami</h3>
        <a href="{% url 'aboutUslogged' %}">About Us</a>
        <a href="#SnK">Syarat & Ketentuan</a>
        <a href="#KebijakanPrivasi">Kebijakan Privasi</a>
    </div>
</footer>

</html>